<div class="container" ng-controller="EditorCtrl">

  <div class="app-editor">

    <ul ui-sortable class="list-unstyled" ng-model="items">
      <li ng-mouseenter="item.hover = true" ng-mouseleave="item.hover = false" ng-repeat="item in items" class="history">
        <p ng-click="focus(item)" ng-hide="item.editing">{{item.text}}<span ng-click="remove($index, $event)" ng-show="item.hover" class="pull-right glyphicon glyphicon-trash"></span></p>
        <textarea focus-state="item.editing" ng-show="item.editing" ng-keypress="checkUpdate($event, item)" ng-model="item.text" msd-elastic placeholder="在这里撰写历史"></textarea>
      </li>
    </ul>

    <textarea ng-focus="blur()" ng-keypress="checkAdd($event)" ng-model="text" msd-elastic placeholder="在这里撰写历史"></textarea>

  </div>

</div>
