<div ng-controller="TrialCtrl" class="container">

  <!-- stored list -->
  <ul class="trial list-unstyled" packery>
    <li class="wrapper" ng-repeat="item in items">
      <div class="view" ng-class="{editing: item.editing}">

        <!-- drag handle -->
        <div class="handle">
          <span class="glyphicon glyphicon-th-list"></span>
        </div>

        <!-- main editor -->
        <div class="content">
          <textarea
            class="editor"
            rows="1"
            ng-focus="focus(item)"
            ng-blur="blur(item)"
            ng-keypress="checkUpdate(item)"
            ng-model="item.text"
            msd-elastic>
          </textarea>
        </div>

        <!-- control -->
        <div class="control">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </div>

      </div>
    </li>
  </ul>

  <!-- input -->
  <textarea></textarea>
</div>
